#trainers {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}
.container {
    width: 90%;
    background-color: red;
    margin: auto;
    text-align: center;
}
.table {
    margin-top: 140px;
}


.btn-nueva {
    margin: 5px 10px;
}

.addTrainerContainer {
    position: relative;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    top: 130px;
}

.labels {
    margin: auto 10px;
}

#updateForms {
    width: 50%;
    display: none;
}

.ths {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #trainers {
        padding: 0
    }

    .container {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .table {
        margin-top: auto;
    
    }
    
    
    .btn-nueva {
        margin: 5px 10px;
    }
    

}